// partial: hobbies.scss

.resume-hobby-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid $color-navy;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: $color-orange;
  background-color: #ffffff;
  box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px $color-navy;
}

.resume-hobby-label {
    @extend %label-base;
    display: inline-block;
    background-color: $color-light-bg;
    border: 1px solid $color-border;
    padding: 0.15rem 0.5rem;
    border-radius: 6px;
    font-size: 0.85rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}
